.App {
  max-width: 1024px;
  margin: 10px auto;
}

.scratchpad {
  width: 100%;
  border-radius: 5px;
  background-color: #383c44;
  padding: 0.3rem;
  border: none;
  color: #eee;
  font-size: 0.7rem;
  margin: 0.5rem;
  height: 10rem;
}

.input-container {
  display: flex;
}

.formatter {
  flex: 1;
}

.input-length {
  line-height: 3rem;
}

.output {
  margin-top: 1rem;
}

.history-button {
  border: none;
  border-radius: 0;
  background: transparent;
  color: #eee;
  font-size: 1rem;
  padding: 0.2rem 0;
  margin-bottom: 0.3rem;
}

.xor {
  margin-top: 1rem;
}

.xor-heading {
  display: inline;
}

.pipe {
  margin-right: 0.8rem;
  color: #363c47;
}
